<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Użytkownicy oczekujący na zatwierdzenie konta</h1>
    <table>
        <thead>
            <tr>
                <th>Nazwa użytkownika |</th>
                <th>Rodzaj konta |</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[1] }}</td>
                <td>{{ user[3] }}</td>
                <td><a href="{{ url_for('login_registration.approve_user', user_id=user[0]) }}">Akceptuj</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
